<header class="site-header">
  <div class="wrapper">
    <a class="site-title" href="{{ "/" | relative_url}}">{{ site.title | escape }}</a>

    <nav class="site-nav">
      <ul class="nav-list">
        <li><a class="page-link" href="{{ site.baseurl }}{% link index.md %}">Home</a></li>
        <li><a class="page-link" href="{{ site.baseurl }}{% link projects.html %}">Projects</a></li>
        <li>Posts
          <ul class="nav-sublist">
            <li><a class="page-link" href="{{ site.baseurl }}{% link posts.html%}">All</a> <a href="{{ "/feed.xml" | relative_url }}" title="Subscribe via Atom"><span class="feed-icon">{% include feed-icon.svg %}</span></a></li>
            <li><a class="page-link" href="{{ site.baseurl }}{% link posts_by_category.md %}">By&nbsp;Category</a></li>
            <li><a class="page-link" href="{{ site.baseurl }}{% link posts_by_tag.md %}">By&nbsp;Tag</a></li>
          </ul>
        </li>
        <li>Résumé
          <ul class="nav-sublist">
            <li><a class="page-link" href="{{ site.baseurl }}{% link files/todd-taomae-resume.pdf %}">PDF</a></li>
            <li><a class="page-link" href="https://github.com/ttaomae/resume">GitHub</a></li>
          </ul>
      </ul>
    </nav>

  </div>
</header>
