/** Styles for kramdown generated classes. */

/**
 * Footnotes
 */
.footnotes {
  margin-top: 4ex;
  border-top: 1px solid $grey-color-dark;
  padding-top: 1ex;
  font-size: 90%;

  &:before {
    content: "Footnotes";
    text-decoration: underline solid;
  }

  ol * {
    margin-bottom: 0px;
  }
}
