/**
 * Main content
 */
.page-wrapper {
  padding-top: $spacing-unit;
  padding-bottom: $spacing-unit;
}

.page-content {
  margin-bottom: $spacing-unit;

  h1 {
    font-size: $base-font-size * 2.25;
  }
  h2 {
    font-size: $base-font-size * 2;
  }
  h3 {
    font-size: $base-font-size * 1.75;
  }
  h4 {
    font-size: $base-font-size * 1.5;
  }
  h5 {
    font-size: $base-font-size * 1.25;
  }
  h6 {
    font-size: $base-font-size * 1.125;
  }
}

.page-header {
  margin-bottom: $spacing-unit;
}

h1.page-title {
  font-size: $base-font-size * 2.5;
  letter-spacing: -1px;
  line-height: 1;
}

/**
 * Site footer
 */
 @mixin footer-width($width) {
  width: -webkit-calc(#{$width} - (#{$spacing-unit} / 2));
  width:         calc(#{$width} - (#{$spacing-unit} / 2));
 }

.footer-col-left {
    @include footer-width(35%);
}

.footer-col-right {
    @include footer-width(65%);
}

@include media-query($on-laptop) {
  .footer-col {
    float: none;
    @include footer-width(100%);
  }
}

/**
 * Content listings (i.e. 'listing' layout)
 */
.listing-content {
  > ul {
    margin-left: 0;
    list-style: none;

    > li {
      margin-bottom: $spacing-unit;

      .listing-title {
        margin-top: 0;
        margin-bottom: 0;
      }
      .listing-meta {
        @extend .post-meta;
      }
      .listing-summary {
        margin-top: $spacing-unit / 2;
        margin-bottom: $spacing-unit / 2;
      }
    }
  }
}

/**
 * Icons
 */
.icon > svg {
  display: inline-block;
  vertical-align: baseline;
  height: 2ex;
  width: 2ex;

  path {
    fill: $grey-color;
  }
}

.username {
  vertical-align: baseline;
}
