/**
 * Mixins
 */
@mixin transform($transform) {
  -webkit-transform: $transform;
          transform: $transform;
}

@mixin width-calc($width) {
  width: -webkit-calc(#{$width});
  width:         calc(#{$width});
}

@mixin vertical-align-center {
  position: relative;
  top: 50%;
  @include transform(perspective(1px) translateY(-50%));
}

/**
 * Main content
 */
.page-wrapper {
  padding-top: $spacing-unit;
  padding-bottom: $spacing-unit;
}

.page-header {
  .post-meta {
    .category-link, .tag-link {
      color: $text-color;
      background-color: $background-color;
      padding: 0 3px;
      border: 1px solid $grey-color;
      border-radius: 3px;
      &:hover {
        text-decoration: none;
        background-color: $grey-color-light;
      }
    }
  }
}

.page-content {
  margin-bottom: $spacing-unit;

  h1 {
    font-size: $base-font-size * 2.25;
  }
  h2 {
    font-size: $base-font-size * 2;
  }
  h3 {
    font-size: $base-font-size * 1.75;
  }
  h4 {
    font-size: $base-font-size * 1.5;
  }
  h5 {
    font-size: $base-font-size * 1.25;
  }
  h6 {
    font-size: $base-font-size * 1.125;
  }

  table {
    width: 100%;
    border-collapse: collapse;
    border-top: solid black 1px;
    th, td {
      border-bottom: solid black 1px;
      padding: 5px 5px;
    }
  }

  .highlighter-rouge {
    line-height: 2ex;
  }

  .titled-code-block {
    &:before {
      content: attr(title);
      font-family: monospace;
      font-weight: bold;
    }
  }
}

.page-header {
  margin-bottom: $spacing-unit;
}

h1.page-title {
  font-size: $base-font-size * 2.5;
  letter-spacing: -1px;
  line-height: 1;
}

.post-footer {
  border-top: 2px solid $grey-color-dark;
  font-size: 90%;
  padding-top: 1ex;
}

/**
 * Site footer
 */
@mixin footer-width($width) {
  @include width-calc("#{$width} - (#{$spacing-unit} / 2)");
}

.footer-col-left {
  @include footer-width(30%);
}

.footer-col-right {
  @include footer-width(70%);
}

@include media-query($on-laptop) {
  .footer-col {
    float: none;
    @include footer-width(100%);
  }
}

/**
 * Content listings (i.e. 'listing' layout)
 */
.listing-content {
  > ul {
    margin-left: 0;
    list-style: none;

    > li {
      margin-bottom: $spacing-unit;

      .listing-title {
        margin-top: 0;
        margin-bottom: 0;
      }
      .listing-meta {
        @extend .post-meta;
      }
      .listing-summary {
        margin-top: $spacing-unit / 2;
        margin-bottom: $spacing-unit / 2;
      }
    }
  }
}

/**
 * Footer
 */
footer {
  .icon > svg {
    display: inline-block;
    vertical-align: baseline;
    height: 2ex;
    width: 2ex;

    path {
      fill: $grey-color;
    }
  }

  .username {
    vertical-align: baseline;
  }
}

/**
 * Header navigation
 */
.site-nav {
  float: right;
  height: 56px;

  .page-link {
    color: $text-color;
  }

  > ul.nav-list {
    height: 56px;
    margin-bottom: 0;
    list-style: none;
    > li {
      // place items on single line
      float: left;
      @include vertical-align-center;
      // 10px between items
      margin-left: 5px;
      margin-right: 5px;

      // hide sublist ...
      > ul.nav-sublist {
        display: none;
      }
      // ... until hover on parent item
      &:hover {
        > ul.nav-sublist {
          // display submenu with border
          display: block;
          background-color: $background-color;
          border: 1px solid $grey-color;
          border-radius: 5px;

          list-style: none;
          margin-left: 0;
          position: absolute;

          // a hack for Firefox (and maybe other browsers) so that there is
          // no gap between the parent item and the sublist
          margin-top: -1px;

          > li {
            transform: none;
            padding: 3px 3px;
            margin-left: 0;
            margin-right: 0;

            line-height: 2ex;
            text-align: left;
            float: none;
          }
        }
      }
      .feed-icon > svg {
        height: 2ex;
        width:  2ex;
        float: right;
      }
    }
  }
}

