---
layout: default
---
{% assign my_categories = "" | split: "" %}
{% for my_category in page.categories %}
  {% assign category = site.my_categories | where: "slug", my_category %}
  {% if category %}
    {% assign my_categories = my_categories | push: category[0] %}
  {% endif %}
{% endfor %}

{% assign my_tags = "" | split: "" %}
{% for my_tag in page.tags %}
  {% assign tag = site.my_tags | where: "slug", my_tag %}
  {% if tag %}
    {% assign my_tags = my_tags | push: tag[0] %}
  {% endif %}
{% endfor %}
{% capture category_content %}{% if my_categories[0] %} in{% for c in my_categories %} <a class="category-link" href="{{ c.url }}">{{ c.name }}</a>{% endfor %}{% endif %}{% endcapture %}
{% capture tag_content %}{% if my_tags[0] %} with tag(s):{% for t in my_tags %} <a class="tag-link" href="{{ t.url }}">{{ t.name }}</a>{% endfor %}{% endif %}{% endcapture %}

<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="page-header">
    <h1 class="page-title" itemprop="name headline">{{ page.title | escape }}</h1>
    <p class="post-meta"><time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%B %-d, %Y" }}</time>{% unless category_content == "" and tag_content == "" %} &bull; Posted{{ category_content }}{{ tag_content }}{% endunless %}</p>
  </header>

  <div class="page-content" itemprop="articleBody">
    {{ content }}
  </div>

  {% if site.disqus.shortname %}
    {% include disqus_comments.html %}
  {% endif %}
</article>
