---
layout: default
---
{% assign my_categories = "" | split: "" %}
{% for my_category in page.categories %}
  {% assign category = site.my_categories | where: "slug", my_category %}
  {% if category %}
    {% assign my_categories = my_categories | push: category[0] %}
  {% endif %}
{% endfor %}

{% assign my_tags = "" | split: "" %}
{% for my_tag in page.tags %}
  {% assign tag = site.my_tags | where: "slug", my_tag %}
  {% if tag %}
    {% assign my_tags = my_tags | push: tag[0] %}
  {% endif %}
{% endfor %}

{% capture category_content %}{% if my_categories[0] %} in{% for c in my_categories %} <a class="category-link" href="{{ c.url | relative_url }}">{{ c.name }}</a>{% endfor %}{% endif %}{% endcapture %}
{% capture tag_content %}{% if my_tags[0] %} with tag(s):{% for t in my_tags %} <a class="tag-link" href="{{ t.url | relative_url }}">{{ t.name }}</a>{% endfor %}{% endif %}{% endcapture %}

<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="page-header">
    <h1 class="page-title" itemprop="name headline">{{ page.title | escape }}</h1>
    <p class="post-meta"><time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%B %-d, %Y" }}</time>{% unless category_content == "" and tag_content == "" %} &bull; Posted{{ category_content }}{{ tag_content }}{% endunless %}</p>
  </header>

  <div class="page-content" itemprop="articleBody">
    {{ content }}
  </div>
  <footer class="post-footer">
    <p>Want to discuss this post? Use GitHub Issues. Check for an
    <a href="https://github.com/ttaomae/ttaomae.github.io/issues?utf8=✓&q=is%3Aissue%20is%3Aopen%20label%3A%22Type%3A%20Discussion%22%20{{ page.slug }}">existing discussion</a> or start a
    <a href="https://github.com/ttaomae/ttaomae.github.io/issues/new?title=Disucssion%3A%20{{ page.slug }}">new one</a>.</p>
    <p>Found an error or want to make a suggestion for improvement? Create an issue by clicking
    <a href="https://github.com/ttaomae/ttaomae.github.io/issues/new?title={{ page.slug }}%20-%20Description">here</a>.
  </footer>
</article>
